@page "/Reparacion/CrearReparacion"

@using AppForSEII2526.Web.API
@using AppForSEII2526.Web.Components.Shared
@inject NavigationManager navigation
@inject AppForSEII2526APIClient apiclient
@inject ILogger<CrearReparacion> logger
@inject ReparacionStateContainer ReparacionState

<h3>CrearReparacion</h3>

@* rental is the object that will be edited thanks to the form *@
<EditForm Model="reparacion" OnValidSubmit="OpenDialog">
    <div class="row">
        <DataAnnotationsValidator />
        <ValidationSummary />
    </div>
    <div class="row g-3">
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="reparacion.NombreCliente" class="form-control" id="Name" />
                <label for="Name">Nombre* </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="reparacion.ApellidoCliente" class="form-control" id="Surname" />
                <label for="SurName">Apellido* </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputDate @bind-Value="reparacion.FechaEntrega" class="form-control" id="DeliveryAddress" />
                <label for="DeliveryAddress">Fecha Entrega*</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="reparacion.Telefono" class="form-control" id="tlf" />
                <label for="tlf">Telefono (opcional)</label>

            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    @*a dropdown for selecting the payment method*@
                    <InputSelect class="form-select" @bind-Value="@reparacion.MetodoPago" id="PaymentMethod">
                        @* Opción por defecto con valor -1 (coincide con el constructor del DTO) *@
                        <option value="-1" default>-- Seleccione método --</option>
                        <option value=1> Paypal</option>
                        <option value=2> Cash</option>
                        <option value="0"> Tarjeta</option>
                    </InputSelect>
                    <label for="PaymentMethod">Metodo de pago*</label>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he want to proceed to rent the movies*@
                <button class="btn btn-primary" type="submit" id="Submit" disabled="@reparacionButtonDisabled">
                    Crar Reparacion
                </button>
            </div>
        </div>
    </div>

        <h4>Rental detail</h4>
        <p><b>Date from:</b> @reparacion.FechaEntrega.ToString("dd/MM/yyyy") <b>to:</b> @reparacion.NombreCliente</p>
        <p>
            <b>Total price:</b> @TotalCost €
            <button class="btn btn-outline-primary" type="submit" @onclick="ModifyRentalItems" id="ModifyMovies">
                Modify movies
            </button>
        </p>

    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TableOfRentalItems">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Tiempo Reparacion</th>
                    <th>Descripcion(opcional)</th>
                    <th>Cantidad*</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in reparacion.Items)
                {
                    <tr id="MovieData_@item.NombreHerramienta">
                        <td>@item.NombreHerramienta</td>
                        <td>@item.Precio</td>
                        <td>@ObtenerTiempo(item.NombreHerramienta) dias</td>
                        <td><InputText @bind-Value="item.DescripcionProblema" class="form-control" id="@($"description_{item.NombreHerramienta}")" /></td>
                        <td><InputNumber @bind-Value="item.Cantidad" class="form-control" placeholder="0" id="@($"cantidad_{item.NombreHerramienta}")" /></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@*a modal popup dialog for checking if user wants to proceed to rent*@
@if (DialogIsOpen)
{
    <Dialog Caption="Items Reparacion"
            Message="Do you want to proceed to create repareision?"
            OnClose="@OnDialogClose"
            Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private CrearReparacionDTO reparacion => ReparacionState.Reparacion;
    private bool DialogIsOpen;
    //rentalbutton will be disabled if there are not movies in the renting cart
    private bool reparacionButtonDisabled
    {
        get
        {
            // 1. Si la lista no existe o está vacía, el botón se deshabilita.
            if (reparacion.Items == null || reparacion.Items.Count == 0)
            {
                return true;
            }

            // 2. Si ALGÚN ítem (Any) tiene cantidad null o menor/igual a 0, el botón se deshabilita.
            // Esto busca si existe al menos un "elemento inválido" en la lista.
            bool hayItemsInvalidos = reparacion.Items.Any(item => item.Cantidad == null || item.Cantidad <= 0);

            return hayItemsInvalidos;
        }
    }


    private float ObtenerTiempo(string nombreitem)
    {
        if(ReparacionState.TiemposReparacionAux.TryGetValue(nombreitem,out float tiempo))
        {
            return tiempo;
        }
        return 404;
    }


    private decimal TotalCost
    {
        get
        {
            decimal price = 0;
            foreach(var item in reparacion.Items)
            {
                price += ((int?)item.Cantidad ?? 0) * (decimal)item.Precio;
            }
            return Convert.ToDecimal(price);
        }
    }
    private void ModifyRentalItems()
    {
        navigation.NavigateTo("/Reparacion/SelectItemReparacion");
    }

    private void OpenDialog()
    {
        DialogIsOpen = true;

    }

    private async Task OnDialogClose(bool isOk)
    {

        DialogIsOpen = false;
        if (isOk)
        {
            // Process the data introduced by the user if they are valid
        }
    }
}
